<!DOCTYPE html>
<html lang="en">
<head>
    <title>GrantedBy.Me - Sinatra Demo - Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="GrantedByMe - Instant secure login without password">
    <meta name="author" content="grantedby.me">
    <script>
        grantedByMeConfig = {
            ajaxURL: 'ajax',
            csrfHeader: 'X-XSRF-TOKEN',
            postToken: '',
            initCall: 'getSessionToken',
            pollCall: 'getSessionState'
        };
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.grantedby.me/components/modal/css/grantedbyme.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lrsjng.jquery-qrcode/0.12.0/jquery.qrcode.min.js"></script>
    <script src="https://cdn.grantedby.me/components/modal/js/grantedbyme.js"></script>
</head>
<body>
<!--GrantedByMe Component Start-->
<div id="GrantedByMe-Container"></div>
<div id="GrantedByMe-modal" class="GrantedByMe-modal">
    <div id="GrantedByMe-content"></div>
</div>
<!--GrantedByMe Component End-->
<a href="register">Register</a>
</body>
</html>
